@using System.Activities.Expressions
@using System.Runtime.Remoting.Messaging
@using ThingsWeNeed.Models
@model ThingsWeNeed.Models.ViewModels.ThingsListViewModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>ThingsListView</h2>
<form>
    <table class="table table-bordered table-hover table-striped ">
        <thead>
            <tr>
                <th style="width: 50%">Thing</th>
                <th style="width: 40%">Last Bought</th>
                <th style="width: 10%" id="third_column_name">Buy</th>
            </tr>
        </thead>
        <tbody>
        
        @if (Model.ThingsList.Count > 1)
        {
            foreach (Thing t in Model.ThingsList)
            {
                <tr>
                    <td>@t.Name</td>
                    <td>
                        @if (t.Purchases.Count > 0)
                        {
                            <text>@t.Purchases.OrderBy(f => f.MadeOn).First().MadeOn.ToString()</text>
                        }
                        else
                        {
                            <text>Not bought</text>
                        }

                    </td>
                    <td>
                        <button style="padding: 6px 40px; min-width: 60px"
                                type="button"
                                class="btn btn-success buy_button" title="Buy">
                            Buy
                        </button>
                        <div class='input-group btn_stopper' style="min-width: 106px; display: none; height: 10px">
                            <input type='text' class='form-control'/>
                            <span class='input-group-btn'>
                                <input type='button' class='btn btn-danger cancel_button' value='X' title="Cancel"/>
                            </span>
                        </div>
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" style="text-align: center">
                    No things to display
                </td>
            </tr>
        }

        </tbody>
    </table>
</form>






<script>
    $("button.buy_button").click(function () {
        $(this).hide();
        $(this).parent().children("div.btn_stopper")
            .show();
    });

    $("input.cancel_button").click(function () {
        var $divElement = $(this).parent().parent();
        $divElement.parent().children("button.buy_button")
            .show();
        $divElement.hide();
    });
</script>