
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<p>Username:</p>
<input id="username" type="text" />
<p>Password:</p>
<input id="password" type="password" />
<input id="submit" type="button" value="Submit">

<script src="~/Scripts/LoginScripts.js"> </script>
