
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<p>Username:</p><input type="text" id="username">
<p>Password:</p><input type="password" id="password">
<p>Confirm password:</p><input type="password" id="cpassword">
<p>Email:</p><input type="email" id="email">
<p>First name:</p><input type="text" id="fname">
<p>Last name:</p><input type="text" id="lname">
<p>Phone number:</p><input type="text" id="phone">
<input type="button" value="submit" id="submit"/>

<script src="~/Scripts/RegisterScripts.js"></script>