@Scripts.Render("~/Scripts/thingScripts.js")
@Scripts.Render("~/Scripts/thingCreateScripts.js")
@model ThingsWeNeed.Service.ViewModels.ThingUpdateViewModel

<div class="container">
    <div class="jumbotron">
        <h3>Update @Model.Thing.Name</h3>
        <form id="thingForm">
            <input type='text' name="Name" placeholder="Thing's name" class="form-control" /><br />
            <input type='text' name='DefaultPrice' placeholder='Default Price' class="form-control" /><br />
            <div class="checkbox">
                <label>
                    <input name="Needed" type="checkbox">
                    Needed
                </label>
            </div>
            <button type="button" class="btn btn-default" onclick="thingUpdateSubmit()">Submit</button>
        </form>        
    </div>
</div>